const CONFIG = {
  // Indiquer le pseudo twitch de sa chaine (par exemple bipeo, ou autre)
  channel: "bipeo",

  // Options de style :
  // Les couleurs acceptent le mots clés, couleur hexadécimale rgb au format rgb(255,255,255) et rgba (transparence) format rgba(255,255,255,1)
  style: {
    // Couleur du texte des bulles de chat
    textColor: "#2061B6",
    // Couleur du fond des bulles de chat
    backgroundColor: "#cde3ff",
    // Rondeur de bordure, plus la valeur est élevée, plus la rondeur est intense
    borderRadius: "50px",
    // Épaisseur de la bordure, plus la valeur est élevée, plus la bordure est épaisse : 0px pour aucune bordure
    borderWidth: "2px",
    // Taille de la police
    fontSize: "18px",
  },

  // Options de message :
  chat: {
    // Hauteur de votre chat dans OBS
    height: "400px",
    // Longueur de votre chat dans OBS
    width: "400px",

    // Position d'apparition du chat, accepte seulement deux valeurs : "haut" | "bas"
    apparition: "bas",
    // Position des bulles de chat, accepte seulement trois valeurs : "gauche" | "droite" | "centre"
    position: "gauche",
    // Flèche de la bulle, accepte seulement trois valeurs : "gauche" | "droite" | "" 
    // Si vous mettez "", aucune flèche sur la bulle
    arrow: "gauche",

    // Delais en ms avant qu'un message disparait
    // Si vous mettez -1, le message ne disparaitra jamais
    disappearDelay: 8000,
  },
};