body {
  font-family: sans-serif; /* police mid mais qui fera l'affaire */
  overflow: hidden;
  margin: 0px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 16px;
}

.bubble {
  padding: 10px 16px;
  font-size: 18px;

  display: inline-block; /* pour eviter que ça fasse tjr la meme taille */

  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  overflow: inherit;
  max-width: 100%;

  animation: pop 0.3s;

  background-color: var(--bubble-color, rgba(0, 0, 0, 0.8));
  color: var(--text-color, white);
  border-color: var(--text-color, white);
  border-radius: var(--border-radius, 12px);
  font-size: var(--font-size, 18px);
  border-width: var(--border-width, 0px);
  border-style: solid;
}

.bubble-tail-left {
  position: relative;
}

.bubble-tail-left::before {
  content: "";
  position: absolute;
  left: -15px;
  top: calc(50% - 6px); /* Pourquoi le 6px ? Et bien ça rend bien écoutez */
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right: 10px solid var(--bubble-color);
}

.bubble-tail-right {
  position: relative;
}

.bubble-tail-right::before {
  content: "";
  position: absolute;
  right: -15px;
  top: calc(50% - 6px); /* Pourquoi le 6px ? Et bien ça rend bien écoutez */
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 10px solid var(--bubble-color);
}

.bubble-out {
  animation: pop-out 0.2s forwards;
}

.emote {
  height: 24px;
  width: auto;
  margin-bottom: -4px;
}

@keyframes pop {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes pop-out {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}
