body {
  font-family: sans-serif; /* police mid mais qui fera l'affaire */
  overflow: hidden;
  margin: 0px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 0px var(--font-size);
}

.bubble {
  padding: 10px 16px;
  font-size: var(--font-size, 18px);

  display: inline-block; /* pour eviter que ça fasse tjr la meme taille */

  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  overflow: inherit;
  max-width: 100%;

  animation: pop 0.3s;

  background-color: var(--bubble-color, rgba(0, 0, 0, 0.8));
  color: var(--text-color, white);

  border-color: var(--text-color, white);
  border-radius: var(--border-radius, 12px);
  border-width: var(--border-width, 0px);
  border-style: solid;
}

.bubble-tail-left {
  position: relative;
}
.bubble-tail-left::before {
  content: "";
  position: absolute;
  left: calc(var(--font-size) * -1);
  top: 50%;
  width: calc(var(--font-size));
  height: calc(var(--font-size));
  transform: translateY(-50%);
  background: var(--text-color);
  clip-path: polygon(100% 0, 0% 50%, 100% 100%);
}
.bubble-tail-left::after {
  content: "";
  position: absolute;
  left: calc(var(--font-size) * -1 + var(--border-width) * 2);
  top: 50%;
  width: calc((var(--font-size)) - var(--border-width));
  height: calc((var(--font-size)) - var(--border-width));
  transform: translateY(-50%);
  background: var(--bubble-color);
  clip-path: polygon(100% 0, 0% 50%, 100% 100%);
}

.bubble-tail-right {
  position: relative;
}
.bubble-tail-right::before {
  content: "";
  position: absolute;
  right: calc(var(--font-size) * -1);
  top: 50%;
  width: calc(var(--font-size));
  height: calc(var(--font-size));
  transform: translateY(-50%);
  background: var(--text-color);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.bubble-tail-right::after {
  content: "";
  position: absolute;
  right: calc(var(--font-size) * -1 + var(--border-width) * 2);
  top: 50%;
  width: calc((var(--font-size)) - var(--border-width));
  height: calc((var(--font-size)) - var(--border-width));
  transform: translateY(-50%);
  background: var(--bubble-color);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.bubble-out {
  animation: pop-out 0.2s forwards;
}

.emote {
  height: 24px;
  width: auto;
  margin-bottom: -4px;
}

@keyframes pop {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes pop-out {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}
